/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #f9f9f9;
  color: #78350F;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  background-color: #78350F;
  color: white;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  font-size: 2rem;
}

nav {
  padding: 1rem;
}

nav ul {
  display: flex;
  list-style: none;
  padding-left: 0;
}

nav ul a {
  text-decoration: none;
  color: #fbe9e7;
  padding: 0.5rem 1rem;
  margin-right: 1rem;
}

nav ul a:hover {
  background-color: #5a280b;
  border-radius: 8px;
}

nav div {
  display: flex;
  justify-content: flex-end;
}

#link_login {
  background-color: #78350F;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  text-decoration: none;
}

#link_login:hover {
  background-color: #5a280b;
}

